name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Tests
        run: |
          pytest
      - name: Build Docker Image
        run: |
          docker build -t student-api .
      - name: Run Docker Container
        run: |
          docker run -d -p 5000:5000 --name test-container student-api
          sleep 5
          docker ps -a
          docker logs test-container
          curl http://localhost:5000/api/v1/health

