name: CI Pipeline

on:
  push:
    branches: [ main ]
    paths:
      - "app/**"
      - "tests/**"
      - "Dockerfile"
      - "requirements.txt"
  pull_request:
    paths:
      - "app/**"
      - "tests/**"
      - "Dockerfile"
      - "requirements.txt"
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Lint code
        run: make lint

      - name: Run tests
        run: make test

      - name: Docker Login
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: make build

      - name: Push Docker Image
        run: |
          docker tag student-api ${{ secrets.DOCKER_USERNAME }}/student-api:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/student-api:latest

